cipa-addons/Implementation/java/validation-schematron/src/test/resources/testdata/order.sch.xml

<!--

    Copyright (C) 2010 Bundesrechenzentrum GmbH
    http://www.brz.gv.at

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->

<schema  xmlns="http://purl.oclc.org/dsdl/schematron" > 
  <title>Business rules for order</title> 

  <ns uri="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" prefix="cac"/>
  <ns uri="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" prefix="cbc"/>
  <pattern name="Order" id="order">
    <rule context="//cac:OriginatorDocumentReference">
      <assert flag="fatal" test="cbc:DocumentType and cbc:DocumentType != ''">BII-T01-003: DocumentType text Must be given for Originator Document Reference</assert>
    </rule>
    <rule context="//cac:AdditionalDocumentReference">
      <assert flag="fatal" test="cbc:DocumentType and cbc:DocumentType != ''">BII-T01-004: DocumentType text Must be given for Additional Document Reference</assert>
    </rule>
    <rule context="//cac:Contract">
      <assert flag="warning" test="(cbc:ID and cbc:ID != '') or (cbc:ContractType and cbc:ContractType != '')">BII-T01-006: If Contract ID not specified Contract Type text SHOULD be used for Contract Reference</assert>
    </rule>
    <rule context="//cac:BuyerCustomerParty/cac:Party">
      <let name="id" value="cac:PartyIdentification/cbc:ID"/>
      <let name="name" value="cac:PartyName/cbc:Name"/>
      <assert flag="fatal" test="(($id) and not($id = '' )) or (($name) and not($name = '' ))">BII-T01-007: If buyer customer party ID is not specified, buyer party name is mandatory</assert>
      <let name="city" value="cac:PostalAddress/cbc:CityName"/>
      <let name="zip" value="cac:PostalAddress/cbc:PostalZone"/>
      <let name="addressline" value="cac:PostalAddress/AddressLine"/>
      <assert flag="warning" test="not((not($city) or ($city = '' )) or 
							(not($zip) or ($zip = '' ))) and 
							((not($addressline) or ($addressline = '')))">BII-T01-012: A customer address SHOULD contain at least city and zip code or address lines</assert>
    </rule>
    <rule context="//cac:SellerSupplierParty/cac:Party">
      <let name="id" value="cac:PartyIdentification/cbc:ID"/>
      <let name="name" value="cac:PartyName/cbc:Name"/>
      <assert flag="fatal" test="(($id) and not($id = '' )) or (($name) and not($name = '' ))">BII-T01-008: If seller supplier party ID is not specified, supplier party name is mandatory</assert>

      <let name="city" value="cac:PostalAddress/cbc:CityName"/>
      <let name="zip" value="cac:PostalAddress/cbc:PostalZone"/>
      <let name="addressline" value="cac:PostalAddress/AddressLine"/>
      <assert flag="warning" test="not((not($city) or ($city = '' )) or 
							(not($zip) or ($zip = '' ))) and 
							((not($addressline) or ($addressline = '')))">BII-T01-010: A seller address SHOULD contain at least city and zip code or address lines</assert>
    </rule>
    
    
    <rule context="//cac:Delivery/cac:RequestedDeliveryPeriod">
      <assert flag="warning" test="translate(cbc:EndDate, '-', '') &gt;= translate(cbc:StartDate, '-', '')">BII-T01-009: A delivery period end date SHOULD be later or equal to a start date</assert>
      <assert flag="warning" test="translate(cbc:EndDate, '-', '') &gt;= translate(cbc:StartDate, '-', '')">BII-T01-009-2: A delivery period end date SHOULD be later or equal to a start date</assert>
    </rule>
    <!-- zweite rule mit selben context wird nicht mehr evaluiert!!!???? -->
    <rule context="//cac:Delivery/cac:RequestedDeliveryPeriod">
      <assert flag="warning" test="translate(cbc:EndDate, '-', '') &gt;= translate(cbc:StartDate, '-', '')">BII-T01-009-3: A delivery period end date SHOULD be later or equal to a start date</assert>
    </rule>

    <rule context="//cac:Price">
      <assert flag="fatal" test="cbc:PriceAmount &gt;= 0" diagnostics="d1">BII-T01-026: Price of item must be positive or zero</assert>
    </rule>
  </pattern>
  <pattern name="oder2">
    <rule context="//cac:Delivery/cac:RequestedDeliveryPeriod">
      <assert flag="warning" test="translate(cbc:EndDate, '-', '') &gt;= translate(cbc:StartDate, '-', '')">BII-T01-009-4: A delivery period end date SHOULD be later or equal to a start date</assert>
    </rule>
  </pattern>
  <diagnostics>
    <diagnostic id="d1">Price of item has been <value-of select="."/> </diagnostic>
  </diagnostics>
</schema>