cipa-core/Implementation/java/cipa-dispatcher/src/main/resources/wsdl/BackendService-1_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
#########################################################################################
#################################### Version control ####################################
#########################################################################################
Version	|	Date		|	Author			|	Description

1.0		  	11/06/2012		santosa				Initial version
1.0.1		05/11/2012		santosa				Compatibility to SOAP 1.2
1.1		  	07/10/2013		santosa				Modified payloads structure
	
#########################################################################################
-->
<wsdl:definitions xmlns:eb1="http://docs.oasis-open.org/ebxml-msg/ebms/v3.0/ns/core/200704/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://org.ecodex.backend/1_1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:ns="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="http://www.w3.org/2003/05/soap-envelope" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="eCodex" targetNamespace="http://org.ecodex.backend/1_1/">
	<wsdl:import namespace="http://docs.oasis-open.org/ebxml-msg/ebms/v3.0/ns/core/200704/" location="../xsd/ebms-header-3_0-200704.xsd"/>
	<wsdl:import
			namespace="http://www.w3.org/2005/05/xmlmime"
			location="../xsd/xmlmime.xsd" />
	<wsdl:types>
		<xsd:schema targetNamespace="http://org.ecodex.backend/1_1/" xmlns="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="sendRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="bodyload" type="tns:PayloadType" xmime:expectedContentTypes="application/octet-stream"/>
						<xsd:element minOccurs="0" maxOccurs="unbounded" name="payload" type="tns:PayloadType" xmime:expectedContentTypes="application/octet-stream"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="sendRequestURL">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="bodyload" type="tns:PayloadURLType"/>
						<xsd:element minOccurs="0" maxOccurs="unbounded" name="payload" type="tns:PayloadURLType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="sendResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="messageID" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<!-- downloadMessage -->
			<xsd:element name="downloadMessageRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="messageID" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="downloadMessageResponse">
				<xsd:complexType>
					<xsd:sequence>
						<!-- Attachments -->
						<xsd:element minOccurs="0" maxOccurs="1" name="bodyload" type="tns:PayloadType" xmime:expectedContentTypes="application/octet-stream"/>
						<xsd:element minOccurs="0" maxOccurs="unbounded" name="payload" type="tns:PayloadType" xmime:expectedContentTypes="application/octet-stream"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<!-- listPendingMessages -->
			<xsd:element name="listPendingMessagesRequest"/>
			<xsd:element name="listPendingMessagesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="messageID" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="PayloadType">
				<xsd:simpleContent>
					<xsd:extension base="xmime:base64Binary">
						<xsd:attribute name="payloadId" type="xsd:token" use="required"/>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="PayloadURLType">
				<xsd:simpleContent>
					<xsd:extension base="xsd:string">
						<xsd:attribute name="payloadId" type="xsd:token" use="required"/>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:element name="createPartnershipRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="senderId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
						<xsd:element name="receiverId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
						<xsd:element name="service" type="xsd:string" minOccurs="1" maxOccurs="1"/>
						<xsd:element name="action" type="xsd:string" minOccurs="1" maxOccurs="1"/>
						<xsd:element name="endpointURL" type="xsd:string" minOccurs="1" maxOccurs="1"/>
						<xsd:element name="certificate" minOccurs="1" maxOccurs="1"  type="xsd:base64Binary"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="createPartnershipResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="result" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FaultDetail">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="code" nillable="false">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="ERROR_GENERAL_001">
										<xsd:annotation>
											<xsd:documentation>Unknown error</xsd:documentation>
										</xsd:annotation>
									</xsd:enumeration>
									<xsd:enumeration value="ERROR_GENERAL_002">
										<xsd:annotation>
											<xsd:documentation>SOAP Parameters incorrect</xsd:documentation>
										</xsd:annotation>
									</xsd:enumeration>
									<xsd:enumeration value="ERROR_GENERAL_003">
										<xsd:annotation>
											<xsd:documentation>Operation Parameters incorrect</xsd:documentation>
										</xsd:annotation>
									</xsd:enumeration>
									<xsd:enumeration value="ERROR_SEND_001">
										<xsd:annotation>
											<xsd:documentation>Cannot identify a valid PMode</xsd:documentation>
										</xsd:annotation>
									</xsd:enumeration>
									<xsd:enumeration value="ERROR_SEND_002">
										<xsd:annotation>
											<xsd:documentation>Gateway Sending Error</xsd:documentation>
										</xsd:annotation>
									</xsd:enumeration>
									<xsd:enumeration value="ERROR_SEND_003">
										<xsd:annotation>
											<xsd:documentation>Network error</xsd:documentation>
										</xsd:annotation>
									</xsd:enumeration>
									<xsd:enumeration value="ERROR_SEND_004">
										<xsd:annotation>
											<xsd:documentation>Payload url invalid</xsd:documentation>
										</xsd:annotation>
									</xsd:enumeration>
									<xsd:enumeration value="ERROR_SEND_005">
										<xsd:annotation>
											<xsd:documentation>Invalid payloads size</xsd:documentation>
										</xsd:annotation>
									</xsd:enumeration>
									<xsd:enumeration value="ERROR_DOWNLOAD_001">
										<xsd:annotation>
											<xsd:documentation>Message ID invalid</xsd:documentation>
										</xsd:annotation>
									</xsd:enumeration>
									<xsd:enumeration value="ERROR_DOWNLOAD_002">
										<xsd:annotation>
											<xsd:documentation>Message ID already downloaded</xsd:documentation>
										</xsd:annotation>
									</xsd:enumeration>
									<xsd:enumeration value="ERROR_DOWNLOAD_003">
										<xsd:annotation>
											<xsd:documentation>Message Files not found</xsd:documentation>
										</xsd:annotation>
									</xsd:enumeration>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="message" nillable="true" type="string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="sendRequest">
		<wsdl:part name="sendRequest" element="tns:sendRequest"/>
		<wsdl:part name="ebMSHeaderInfo" element="eb1:Messaging"/>
	</wsdl:message>
	<wsdl:message name="sendRequestURL">
		<wsdl:part name="sendRequestURL" element="tns:sendRequestURL"/>
		<wsdl:part name="ebMSHeaderInfo" element="eb1:Messaging"/>
	</wsdl:message>
	<wsdl:message name="sendResponse">
		<wsdl:part name="sendResponse" element="tns:sendResponse"/>
	</wsdl:message>
	<wsdl:message name="downloadMessageRequest">
		<wsdl:part name="downloadMessageRequest" element="tns:downloadMessageRequest"/>
	</wsdl:message>
	<wsdl:message name="downloadMessageResponse">
		<wsdl:part name="downloadMessageResponse" element="tns:downloadMessageResponse"/>
		<wsdl:part name="ebMSHeaderInfo" element="eb1:Messaging"/>
	</wsdl:message>
	<wsdl:message name="listPendingMessagesRequest">
		<wsdl:part name="listPendingMessagesRequest" element="tns:listPendingMessagesRequest"/>
	</wsdl:message>
	<wsdl:message name="listPendingMessagesResponse">
		<wsdl:part name="listPendingMessagesResponse" element="tns:listPendingMessagesResponse"/>
	</wsdl:message>
	<wsdl:message name="createPartnershipRequest">
		<wsdl:part name="createPartnershipRequest" element="tns:createPartnershipRequest"/>
	</wsdl:message>
	<wsdl:message name="createPartnershipResponse">
		<wsdl:part name="createPartnershipResponse" element="tns:createPartnershipResponse"/>
	</wsdl:message>
	<wsdl:message name="sendMessageFault">
		<wsdl:part name="faultDetail" element="tns:FaultDetail"/>
	</wsdl:message>
	<wsdl:message name="sendMessageWithReferenceFault">
		<wsdl:part name="faultDetail" element="tns:FaultDetail"/>
	</wsdl:message>
	<wsdl:message name="downloadMessageFault">
		<wsdl:part name="faultDetail" element="tns:FaultDetail"/>
	</wsdl:message>
	<wsdl:message name="listPendingMessagesFault">
		<wsdl:part name="faultDetail" element="tns:FaultDetail"/>
	</wsdl:message>
	<wsdl:message name="createPartnershipFault">
		<wsdl:part name="faultDetail" element="tns:FaultDetail"/>
	</wsdl:message>
	<wsdl:portType name="BackendInterface">
		<wsdl:operation name="sendMessage">
			<wsdl:input name="sendMessageRequest" message="tns:sendRequest"/>
			<wsdl:output name="sendMessageResponse" message="tns:sendResponse"/>
			<wsdl:fault name="fault" message="tns:sendMessageFault"/>
		</wsdl:operation>
		<wsdl:operation name="sendMessageWithReference">
			<wsdl:input name="sendMessageWithReferenceRequest" message="tns:sendRequestURL"/>
			<wsdl:output name="sendMessageWithReferenceResponse" message="tns:sendResponse"/>
			<wsdl:fault name="fault" message="tns:sendMessageWithReferenceFault"/>
		</wsdl:operation>
		<wsdl:operation name="downloadMessage">
			<wsdl:input name="downloadMessageRequest" message="tns:downloadMessageRequest"/>
			<wsdl:output name="downloadMessageResponse" message="tns:downloadMessageResponse"/>
			<wsdl:fault name="fault" message="tns:downloadMessageFault"/>
		</wsdl:operation>
		<wsdl:operation name="listPendingMessages">
			<wsdl:input name="listPendingMessagesRequest" message="tns:listPendingMessagesRequest"/>
			<wsdl:output name="listPendingMessagesResponse" message="tns:listPendingMessagesResponse"/>
			<wsdl:fault name="fault" message="tns:listPendingMessagesFault"/>
		</wsdl:operation>
		<wsdl:operation name="createPartnership">
			<wsdl:input name="createPartnershipRequest" message="tns:createPartnershipRequest"/>
			<wsdl:output name="createPartnershipResponse" message="tns:createPartnershipResponse"/>
			<wsdl:fault name="fault" message="tns:createPartnershipFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="eCODEX" type="tns:BackendInterface">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="sendMessage">
			<wsdl:input name="sendMessageRequest">
				<soap12:body parts="sendRequest" use="literal"/>
				<soap12:header message="tns:sendRequest" part="ebMSHeaderInfo" use="literal"/>
			</wsdl:input>
			<wsdl:output name="sendMessageResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap12:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="sendMessageWithReference">
			<wsdl:input name="sendMessageWithReferenceRequest">
				<soap12:body parts="sendRequestURL" use="literal"/>
				<soap12:header message="tns:sendRequestURL" part="ebMSHeaderInfo" use="literal"/>
			</wsdl:input>
			<wsdl:output name="sendMessageWithReferenceResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap12:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="downloadMessage">
			<wsdl:input name="downloadMessageRequest">
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="downloadMessageResponse">
				<soap12:body parts="downloadMessageResponse" use="literal"/>
				<soap12:header message="tns:downloadMessageResponse" part="ebMSHeaderInfo" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap12:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="listPendingMessages">
			<wsdl:input name="listPendingMessagesRequest">
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="listPendingMessagesResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap12:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createPartnership">
			<wsdl:input name="createPartnershipRequest">
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="createPartnershipResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap12:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BackendService_1_1">
		<wsdl:port name="BackendPort" binding="tns:eCODEX">
			<soap12:address location="http://www.ecodex.org/eCODEX"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
