archives/cipa-discontinued/Implementation/java/cipa-lime-client/src/main/resources/WEB-INF/wsdl/peppol-lime-1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Version: MPL 1.1/EUPL 1.1

    The contents of this file are subject to the Mozilla Public License Version
    1.1 (the "License"); you may not use this file except in compliance with
    the License. You may obtain a copy of the License at:
    http://www.mozilla.org/MPL/

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
    for the specific language governing rights and limitations under the
    License.

    The Original Code is Copyright The PEPPOL project (http://www.peppol.eu)

    Alternatively, the contents of this file may be used under the
    terms of the EUPL, Version 1.1 or - as soon they will be approved
    by the European Commission - subsequent versions of the EUPL
    (the "Licence"); You may not use this work except in compliance
    with the Licence.
    You may obtain a copy of the Licence at:
    http://joinup.ec.europa.eu/software/page/eupl/licence-eupl

    Unless required by applicable law or agreed to in writing, software
    distributed under the Licence is distributed on an "AS IS" basis,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the Licence for the specific language governing permissions and
    limitations under the Licence.

    If you wish to allow use of your version of this file only
    under the terms of the EUPL License and not to allow others to use
    your version of this file under the MPL, indicate your decision by
    deleting the provisions above and replace them with the notice and
    other provisions required by the EUPL License. If you do not delete
    the provisions above, a recipient may use your version of this file
    under either the MPL or the EUPL License.

-->
<wsdl:definitions xmlns:tns="http://www.w3.org/2009/02/ws-tra" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy"
  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service"
  xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsrm="http://docs.oasis-open.org/ws-rx/wsrmp/200702"
  xmlns:id="http://busdox.org/transport/identifiers/1.0/" targetNamespace="http://www.w3.org/2009/02/ws-tra">
  <wsdl:types>
    <xs:schema targetNamespace="http://www.w3.org/2009/02/ws-tra">
      <xs:include schemaLocation="ws-tra.xsd" />
    </xs:schema>
    <xs:import namespace="http://busdox.org/transport/identifiers/1.0/" schemaLocation="Identifiers-1.0.xsd" />
  </wsdl:types>
  <wsdl:message name="GetMessage">
    <wsdl:part name="Body" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="GetResponseMessage">
    <wsdl:part name="Body" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="PutMessage">
    <wsdl:part name="Body" element="tns:Put" />
  </wsdl:message>
  <wsdl:message name="PutResponseMessage">
    <wsdl:part name="Body" element="tns:PutResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteMessage">
    <wsdl:part name="Body" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteResponseMessage">
    <wsdl:part name="Body" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="CreateMessage">
    <wsdl:part name="Body" element="tns:Create" />
    <!-- CREATE message headers -->
    <wsdl:part name="MessageIdHeader" element="id:MessageIdentifier" />
    <wsdl:part name="ChannelIdHeader" element="id:ChannelIdentifier" />
    <wsdl:part name="RecipientIdHeader" element="id:RecipientIdentifier" />
    <wsdl:part name="SenderIdHeader" element="id:SenderIdentifier" />
    <wsdl:part name="DocumentIdHeader" element="id:DocumentIdentifier" />
    <wsdl:part name="ProcessIdHeader" element="id:ProcessIdentifier" />
  </wsdl:message>
  <wsdl:message name="CreateResponseMessage">
    <wsdl:part name="Body" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:portType name="Resource">
    <wsdl:operation name="Get">
      <wsdl:input message="tns:GetMessage" wsam:Action="http://www.w3.org/2009/02/ws-tra/Get" />
      <wsdl:output message="tns:GetResponseMessage" wsam:Action="http://www.w3.org/2009/02/ws-tra/GetResponse" />
    </wsdl:operation>
    <wsdl:operation name="Put">
      <wsdl:input message="tns:PutMessage" wsam:Action="http://www.w3.org/2009/02/ws-tra/Put" />
      <wsdl:output message="tns:PutResponseMessage" wsam:Action="http://www.w3.org/2009/02/ws-tra/PutResponse" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteMessage" wsam:Action="http://www.w3.org/2009/02/ws-tra/Delete" />
      <wsdl:output message="tns:DeleteResponseMessage" wsam:Action="http://www.w3.org/2009/02/ws-tra/DeleteResponse" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateMessage" wsam:Action="http://www.w3.org/2009/02/ws-tra/Create" />
      <wsdl:output message="tns:CreateResponseMessage" wsam:Action="http://www.w3.org/2009/02/ws-tra/CreateResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ResourceBinding" type="tns:Resource">
    <wsaw:UsingAddressing wsdl:required="true" />
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/envelope/" />
    <wsdl:operation name="Get">
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsaw:Anonymous>required</wsaw:Anonymous>
    </wsdl:operation>
    <wsdl:operation name="Put">
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsaw:Anonymous>required</wsaw:Anonymous>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsaw:Anonymous>required</wsaw:Anonymous>
    <wsdl:operation name="Create">
      <wsdl:input>
        <!-- <soap:body use="literal"/> -->
        <soap:body parts="Body" use="literal" />
        <!-- CREATE message headers -->
        <soap:header message="tns:CreateMessage" part="MessageIdHeader" use="literal" />
        <soap:header message="tns:CreateMessage" part="ChannelIdHeader" use="literal" />
        <soap:header message="tns:CreateMessage" part="RecipientIdHeader" use="literal" />
        <soap:header message="tns:CreateMessage" part="SenderIdHeader" use="literal" />
        <soap:header message="tns:CreateMessage" part="DocumentIdHeader" use="literal" />
        <soap:header message="tns:CreateMessage" part="ProcessIdHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsaw:Anonymous>required</wsaw:Anonymous>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="limeService">
    <wsdl:port name="ResourceBindingPort" binding="tns:ResourceBinding">
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
