smp-api/src/main/resources/ec-services-SMP-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="ec:services:SMP:1.0" targetNamespace="ec:services:SMP:1.0"
           elementFormDefault="qualified" id="ServiceMetadataPublishing">
    <xs:element name="ErrorResponse" type="ErrorResponseType"/>
    <xs:complexType name="ErrorResponseType">
        <xs:sequence>
            <xs:element name="BusinessCode" type="xs:string"/>
            <xs:element name="ErrorDescription" type="xs:string" minOccurs="0"/>
            <xs:element name="ErrorUniqueId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
